<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.pc.gestiontissage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:label="MainActivity" android:name=".Views.Gestion"/>
        <activity android:label="Article" android:name=".Views.AddArticle"/>
        <activity android:label="Chercher Employe" android:name=".Views.SearchEmployee"/>
        <activity android:label="Supprimer Employe" android:name=".Views.DeleteEmployee"/>
        <activity android:label="Ajouter Employe" android:name=".Views.AddEmployee"/>
        <activity android:label="Chercher Article" android:name=".Views.SearchArticle"/>
        <activity android:label="Supprimer Article" android:name=".Views.DeleteArticle"/>

        <activity android:label="Modifier Employé" android:name=".Views.ModifyEmployee"/>
        <activity android:label="Modifier Article" android:name=".Views.ModifyArticle"/>

    </application>

</manifest>